@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Pangolin&display=swap');

body {
    align-items: center;
    background: rgb(136,131,66);
    color: #663;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

canvas {
    /* background: rgb(190,170,105); */
    background: rgb(0,0,0);
    height: 92vh;
    image-rendering: pixelated;
    width: auto;
}

.fullscreen {
    top: 60px;
    cursor: pointer;
    opacity: .4;
    position: absolute;
    right: 60px;
    transform: scale(1);
    transition: all .2s;
    width: 50px;
}

.fullscreen:hover {
    transform: scale(1.1);
    opacity: .8;
}