body {
    align-items: center;
    background: #ec8;
    color: #663;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

canvas {
    background: #b49662;
    height: 92vh;
    image-rendering: pixelated;
    width: auto;
}